@model EmployeeTask.Models.Position

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div><a href="@Url.Action("Index")">Back</a></div>
<form method="post">
    <div class="col-12">
        @*@Html.EditorFor(model => model.PersonId, new { htmlAttributes = new { @class = "form-control" }})*@
        @using (Html.BeginForm("Edit", null, FormMethod.Post, new { @class = "noModal", enctype = "multipart/form-data" }))
        {
            <input type="hidden" name="PositionId" value="@Model.PositionId" />
            <div class="row form-group">
                @Html.LabelFor(model => model.PositionName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.PositionName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PositionName, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-2 pull-right">
                    <input type="submit" value="Save" class="btn btn-success" />
                </div>
            </div>
        }
    </div>
</form>